/* Yleiset tyylit */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Navigaatio */
nav ul {
    background-color: #333;
    padding: 1rem;
    text-align: center;
    list-style: none;
    margin: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Header */
header {
    background-color: #af1409;
    color: white;
    padding: 50px;
    text-align: center;
}

/* Esittely */
#about {
    padding: 50px;
    text-align: center;
}

/* Projektit */
#projects {
    padding: 50px;
    text-align: center;
}
.project {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Yhteystiedot */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}
label, input, textarea {
    margin-bottom: 10px;
}

/* Alatunniste */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsiivinen suunnittelu */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
